:root {
    --color-primary: #1a73e8;
    --color-primary-light: #4d9aff;
    --color-primary-dark: #174ea6;

    /* Secondary Colors */
    --color-secondary: #fbbc05;
    --color-secondary-light: #ffe082;
    --color-secondary-dark: #c49000;

    /* Neutral Colors */
    --color-background: #ffffff;
    --color-surface: #f5f5f5;
    --color-border: #e0e0e0;
    --color-text: #202124;
    --color-muted: #5f6368;

    /* Semantic Colors */
    --color-success: #34a853;
    --color-warning: #fbbc05;
    --color-error: #ea4335;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 196, 1.000) 0.000%, rgba(255, 97, 100, 1.000) 50.000%, rgba(176, 0, 18, 1.000) 100.000%)
}

.container {
    filter: drop-shadow(5px 5px 15px #00000047);
    width: 100%;
    margin: 15px;
    max-width: 50%;
    min-height: 50vh;
    background-color: var(--color-surface);
    border-radius: 16px;
    padding: 20px;
}

ul.list {
    list-style: none;
    padding-left: 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
}

ul.list li::before {
    content: "•";
    font-size: 2.5rem;
    display: inline-block;
    width: 1.5rem;
    vertical-align: middle;
}

li {
    border-radius: 22px;
    padding: 5px;
    border: 6px solid var(--color-border);
    margin: 12px;
    min-height: 200px;
}